/*  */

:root {
  --COLOUR0: #143449;
}
:root {
  --COLOUR1: #0f4c75;
}
:root {
  --COLOUR2: #3282b8;
}
:root {
  --COLOUR3: #163599;
}
:root {
  --COLOUR4: #6fa7cd;
}
:root {
  --COLOUR5: #adcde2;
}
:root {
  --COLOUR6: #3282b8;
}
:root {
  --RED: #ff4444;
}
:root {
  --RED_DARK: #ff0000;
}
:root {
  --GREEN: #82ca9d;
}
:root {
  --YELLOW: #f5e642;
}
:root {
  --WHITE: #ffffff;
}
:root {
  --BLACK: #000000;
}

/*
Style for the whole site
*/
html {
  height: 50%;
}
body {
  font-family: "Arial";
  width: 99%;
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--COLOUR2);
}
.content {
  flex: 1;
}

/* 
Menu bar at the top of the page.
*/
.header {
  height: 3.8vh;
  min-height: 1.5vh;
  padding-top: 0.5rem;
  background-color: var(--COLOUR0);
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

/*
Buttons in the menubar.
*/
.header_bar_div {
  border-radius: 25px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  color: var(--WHITE);
  background-color: var(--COLOUR0);
}
.header_bar_div:hover {
  background-color: var(--COLOUR1);
}

/* Each investment card with header, chart and summary. */
.investment_cards_container {
  height: 40rem;
  overflow-y: scroll;
  z-index: 0;
}

/*
The card header is at the top of each investment card showing values
for overall and daily changes. Click on this to show the chart and summary.
*/
.card_header {
  cursor: pointer;
  background-color: var(--COLOUR3);
  width: 99.8%;
  padding: 0rem;
  margin-top: 0.2rem;
  margin-right: 10rem;
  margin-left: 0.2rem;
  border-style: solid;
  border-color: var(--WHITE);
  border-width: 0.5px;
}
.investment_symbol {
  padding-left: 1rem;
  padding-right: 5rem;
  font-size: 1rem;
  color: var(--WHITE);
  background-color: var(--COLOUR3);
}
.investment_name {
  font-size: 1.5rem;
  color: var(--WHITE);
  background-color: var(--COLOUR3);
  text-align: right;
  padding-right: 10rem;
}

/*
The the tds for all the card header titles.
*/
.header_header {
  color: var(--WHITE);
  background-color: var(--COLOUR3);
}

/*
Each investment card has a hidable chart and summary attached.
*/
.investment_summary {
  display: flex;
  height: 20rem;
}
.chart {
  flex: 5;
  padding-top: 0.5rem;
  background-color: var(--COLOUR1);
  z-index: 0;
}
.summary {
  flex: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  color: var(--WHITE);
  background-color: var(--COLOUR1);
}
.summary td {
  padding: 5px;
  font-size: 18px;
}

/*
Buttons in the summary to buy; sell and remove.
*/
.summary_buttons {
  padding-top: 1rem;
}
.summary_buttons button {
  margin: 0.2rem;
  padding: 0.2rem;
  display: block;
  width: 6rem;
  font-size: 18px;
  border-radius: 12px;
  background-color: var(--COLOUR2);
  color: var(--WHITE);
  border-style: solid;
  border-width: 0;
}
.summary_buttons button:hover {
  background-color: var(--COLOUR3);
}
.remove {
  margin: 0.2rem;
  padding: 0.3rem;
  display: block;
  width: 6rem;
  font-size: 18px;
  border-radius: 12rem;
  background-color: var(--RED);
  color: var(--WHITE);
  border-style: solid;
  border-width: 0;
}
.remove:hover {
  background-color: var(--RED_DARK);
  color: var(--BLACK);
}

/*
The chart and panel at the bottom showing the totals of the portfolio.
*/
.totals_card_container {
  display: flex;
  width: 99.8%;
  margin-top: 3px;
  margin-left: 3px;
  border-style: solid;
  border-color: var(--WHITE);
  border-width: 0.5px;
}
.totals_header_table {
  width: 99.9%;
  color: var(--WHITE);
  font-size: 1.5rem;
  background-color: var(--COLOUR3);
  margin-right: 10rem;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  height: 50px;
  padding-left: 1rem;
  padding-top: 0.2rem;
  border-style: solid;
  border-color: var(--WHITE);
  border-width: 0.5px;
}
.totals_chart {
  flex: 5;
  padding-top: 0.5rem;
  background-color: var(--COLOUR1);
}
.totals_summary {
  flex: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  color: var(--WHITE);
  background-color: var(--COLOUR1);
}
.totals_summary td {
  padding: 5px;
  font-size: 18px;
}

/*
The popup modals.
*/
.popup_modal {
  position: fixed;
  top: 10rem;
  position: absolute;
  color: #fff;
  background-color: #163599;
  padding: 1rem;
  border-style: solid;
  border-color: #fff;
  border-width: 0.5px;
  text-align: center;
  font-family: "Arial";
  cursor: "arrow";
  z-index: 20;
}
.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.popup_modal_table {
  align: left;
  margin-left: 0.5rem;
}
.popup_modal_table_label {
  text-align: right;
  padding-right: 1rem;
}
.popup_modal_table_value_label {
  text-align: left;
  padding-right: 1rem;
}
.popup_modal_table-input {
  text-align: left;
  padding-right: 1rem;
}
.popup_modal_table_text {
  width: 10rem;
  padding-right: 0.5rem;
}

.popup_modal_button {
  margin: 0.2rem;
  padding: 0.2rem;
  display: block;
  width: 7rem;
  font-size: 14px;
  border-radius: 12px;
  background-color: var(--COLOUR2);
  color: var(--WHITE);
  border-style: solid;
  border-width: 0;
}
.popup_modal_button:hover {
  background-color: var(--COLOUR4);
}
.popup_modal_button:active {
  background-color: var(--COLOUR1);
}

.popup_modal_time {
  width:6rem;
  height: 1.5rem;
  border-radius: 12px;
  color: var(--WHITE);
  background-color: var(--COLOUR2);
  border-width: 0;
  padding-left: 1rem;
}

/*
The dropdown menu for the investment cards.
*/
.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 15px 0 0 80px;
  padding: 0;
  border: 1px solid white;
  width: 150px;
}

.menu > li {
  margin: 0;
  background-color: var(--COLOUR2);
}

.menu > li:hover {
  background-color: var(--COLOUR4);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}